
.my-table{
background-color:#97bee6;
border-radius:5px;
padding-bottom:5px;
padding-left:10px;
padding-right:10px;
margin-top:0.5%;
}

.message-display-home{
text-align:center;
background-color:#a6f299;
padding-top:7px;
padding-bottom:5px;
}

.add-button{
padding-left:270px;
}

.logout-button{
color:red;
padding-left:500px;
}

.footer{
background-color:none;
width:108%;

}
.fa-brands-base{
padding:5px;
}

.base-links:hover{
text-decoration:none;
}

