<html>
<head>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/register.css') }}">
	<title>Login</title>
</head>


<body>


<div style="width:100%;" class="container register-container">
        <div class="row centered-form">
        <div class="col-xs-12 col-sm-8 col-md-5 col-sm-offset-2 col-md-offset-4">
        	<div class="panel panel-default">
        		<div class="panel-heading">

			    		<h3 class="panel-title text-center">Log In</h3>
			 			</div>
			 			<div class="panel-body">
			    		<form role="form" action="{{url_for('auth.login')}}" method="post">

			    			<div class="form-group">
			    				<input required type="email" name="email" id="email" class="form-control input-sm" placeholder="Email Address">
			    			</div>

			    			<div class="row">
			    				<div class="col-xs-6 col-sm-6 col-md-12">
			    					<div class="form-group">
			    						<input required type="password" name="password" id="password" class="form-control input-sm" placeholder="Password">
			    					</div>
			    				</div>

			    			</div>
								<button type="submit" class="btn btn-block btn-primary">Let Me In
									|  Or <a style="color:black" href="{{ url_for('auth.register') }}">Register here</a>

								</button><br>



			    		</form>
			    	</div>
	    		</div>
    		</div>
    	</div>
    </div>




<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
</body>



</html>